
body {
  padding: 0;
  margin: 0;
} 

.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App .openModalBtn{
  width: 200px;
  height: 40px;
  margin-top: 50px;
  margin-left: 1100px;
  border: none;
  border-radius: 2px;
  background-color: rgb(138, 138, 138);
  color: white;
  cursor: pointer;
  font-size: 20px;
}
